footer.px-6.flex.flex-wrap.items-center.py-2.text-gray-600.font-medium.shadow-md.z-auto(class='lg:px-16 lg:py-0' , style = "background-color: #1c1c2c")
    .flex-1.flex.justify-between.items-center.pt-10.pb-5
        nav.mb-2.nav-footer
            ul.flex.items-center.justify-center.text-gray-900.font-base(class='lg:flex md:w-72 md:pt-0')
                li
                    a.p-5.block.border-b-2.border-transparent.mb-2.text-gray-200.uppercase.text-base(class='md:p-3  lg:mb-0 md:text-lg' href='/menu') Menú
                li
                    a.p-5.block.border-b-2.border-transparent.mb-2.text-gray-200.uppercase.text-base(class='md:p-3  lg:mb-0 md:text-lg' href='/testimonios') Testimonios    
                li
                    a.p-5.block.border-b-2.border-transparent.mb-2.text-gray-200.uppercase.text-base(class='md:p-3  lg:mb-0 md:text-lg' href='/nosotros') Nosotros
    .w-full.p-5(class='lg:flex lg:items-center lg:w-auto')
        p.text-gray-200.text-center.text-lg(class="md:text-xl") Todos los derechos reservados #{actualYear}
